<ion-view view-title="Infos pratiques">
  <ion-content>
    <h1>Informations Pratiques</h1>

      <h2>Se rendre au musée</h2>
      <h3>En voiture</h3>
      <p>Par l'autoroute A4 : que vous arriviez de Paris (Porte de Bercy) ou de l'Est, prendre la sortie Porte de Charenton. Passez sur le pont qui enjambe la Marne et l'autoroute. Vous arriverez à un gros carrefour. En traversant tout droit, vous vous retrouverez dans l'avenue du Général de Gaulle. L'Ecole, qui se trouve sur votre gauche, possède deux points d'entrée sur cette artère (7 et 7 ter).
          <br><br>
          Par la RN 19 (en provenance de Créteil) : traversez tout Maisons Alfort, jusqu'au grand carrefour du pont de Charenton. L'avenue du Général de Gaulle est sur votre gauche.
          <br><br>
          Par la RN 6 (en venant du carrefour Pompadour): vous devez traverser tout Maisons-Alfort, en direction de Charenton.L'avenue du Général de Gaulle est dans cet alignement. L'Ecole sera à votre droite, avant le carrefour du pont de Charenton.</p>
      <br>
      <b>Vous pouvez aussi suivre l'itinéraire suivant :</b>
      <br>
      <ng-map style= "height: 620px" center="48.812680, 2.422952" zoom-to-include-markers='true'>
        <directions draggable = 'true' panel='directions-panel' travel-mode='DRIVING' origin='current-position' destination='48.812680, 2.422952'></directions>
        <marker id="foo" position="current-location" on-click="map.showInfoWindow('geolocation')"></marker>
        <info-window id="geolocation" visible-on-marker="foo">
        <div ng-non-bindable>
          <card title="'Location'">
              <p>Vous êtes ici</p>
          </card>
        </div>
      </info-window>
        <!--<marker id="frago" position="[48.812680, 2.422952]" on-click="map.showInfoWindow('musee')"></marker>

        <info-window id="musee" visible-on-marker="frago">
            <div ng-non-bindable>
                <card title="'Location'">
                    <p>Musée Fragonnard</p>
                </card>
            </div>
        </info-window>
        -->
    </ng-map>
  </ion-content>
</ion-view>